/* navigation bar */

#navbar {
    flex-direction: column;
}

#navbar::before {
    width: 150%;
}

#navbar ul li a {
    font-size: 1.7rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

#logo img {
    height: auto;
    width: 50px;
}


/* home section */

#home {
    height: 286px;
    padding: 3px 28px;
}

#home::before {
    height: 474px;
    width: 203%;
}

#home h1 {
    font-size: 2.8rem;
}

#home p {
    font-size: 1.5rem;
    color: whitesmoke;
}


/* product section */

#our-product {
    flex-direction: column;
}

#our-product::before {
    padding: 500px 100px;
    height: 130px;
    width: 180%;
}

#product1 {
    margin: -10px;
    flex-direction: column;
}

#product2 {
    margin: 10px;
    flex-direction: column;
}

#product1 .box1 {
    margin-top: -9px;
    margin-bottom: 11px;
    margin-right: 25px;
    margin-left: 25px;
    padding: 25px 5px;
    /* margin: 12px 25px; */
    font-size: 10px;
    font-weight: bold;
}

#product2 .box2 {
    margin-top: -9px;
    margin-bottom: 11px;
    margin-right: 25px;
    margin-left: 25px;
    padding: 25px 5px;
    /* margin: 12px 25px; */
    font-size: 10px;
    font-weight: bold;
}

#product1 .box1 img {
    height: 50px;
}

#product2 .box2 img {
    height: 50px;
}


/* font */

#h-product {
    padding: 30px 50px;
    font-size: 2rem;
    font-weight: bolder;
}


/* about-us section */

#about-us {
    padding: 772px 100px;
    /* flex-direction: row; */
    /* height: 90px; */
}

#about-us::before {
    height: 192%;
    width: 180%;
}


/* #about-us h1 {
    font-size: 1.5rem;
}

#about-us p {
    font-size: 0.7;
} */


/* contact section */

#contacts::before {
    width: 152%;
}


/* footer section */

footer {
    font-size: 0.8rem;
    width: 150%;
}


/* utility classes */

.btn {
    padding: 4px 8px;
    font-size: 13px;
}